.dropdown:hover>.dropdown-menu {
 display: block;
}

.nav-link {
    color: #00aeef;
    display: flex;
    font-size: 18px;
    font-family: "Century Gothic";
}
.nav-link:hover {
  color: #fed450;
}

hr{
  height: 1px;
  color: #00aeef;
  background-color: #00aeef;
  border: none;
}

.end {
  color: #00aeef;
  text-align: center;
  background-color: white;
}

h10 {
  padding: 35px;
}

.DCON {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Century Gothic";
  background-color: #333333;
  font-weight: 100px;
}

button {
  color:white;
  background-color: #3895D3;
  border-color: #3895D3;
  border-width: thick;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.video {
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title{
  text-align: center;
  font-size: 64px;
  font-family: "Vanilla Whale";
  background-color: #805A46;
}

p {
  text-align: left;
  padding: 10px 480px 10px 480px;
}

.subtitle {
  text-align: center;
  font-family: "Cactus Sandwich";
  font-size: 24px;
}

.section {
  text-align: center;
  font-size: 50px;
}
.first {
  padding-top: 25px;
}
