.dropdown:hover>.dropdown-menu {
 display: block;
}

.nav-link {
    color: #00aeef;
    display: flex;
    font-size: 18px;
    font-family: "Century Gothic";
}
.nav-link:hover {
  color: #fed450;
}

hr{
  height: 1px;
  color: #00aeef;
  background-color: #00aeef;
  border: none;
}

.end {
  color: #00aeef;
  text-align: center;
  background-color: white;
}

h10 {
  padding: 35px;
}

.fall_rally {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Century Gothic";
  background-color: #3895D3;
  font-weight: 100px;
}

.image {
  padding: 25px 0px 25px 0px;
}

p {
  text-align: left;
  padding: 0 480px 0 480px;
}

button {
  color:white;
  background-color: #F25278;
  border-color: #F25278;
  border-width: thick;
  font-size: 24px;
  font-weight: bold;
}

.video {
  background-color: #7d90aa;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.subtitle {
  padding-left: 480px;
}
